<h1>Add a contact</h1>
<p>Add a contact here:</p>
<form action="/contacts" method="post">
  <label for="contact-name">Name</label>
  <input id="contact-name" name="contact-name" type="text">
  <label for="contact-phone">Name</label>
  <input id="contact-phone" name="contact-phone" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
