@{
  Layout="Shared/_Layout.cshtml";
}

<h1>You added a new Contact!</h1>

<!-- <p>@contact.GetName()</p> -->

<p><a href="/contacts/new">Add another Contact</a></p>
<p><a href="/contacts">View All Contacts</a></p>
