<h1>Add a genre</h1>
<p>Add a genre here:</p>
<form action="/genres" method="post">
  <label for="genre-name">Genre name</label>
  <input id="genre-name" name="genre-name" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
