<h1>Add a new CD to @Model["genre"].GetGenre()</h1>
<form action='/view_all_cds' method='post'>
  <input id='genre-id' name='genre-id' type='hidden' value='@Model["genre"].GetId()'>
  <label for='cd-description'>CD title</label>
  <input id='cd-description' name='cd-description' type='text'>
  <label for='cd-artist'>CD Artist</label>
  <input id='cd-artist' name='cd-artist' type='text'>
  <button type='submit'>Add CD</button>
</form>
