@{
  Layout="Shared/_Layout.cshtml";
}
<div class="jumbotron">
  <div class="container">
    <h1>Contact List</h1>
  </div>
</div>

<h3><a href='/contacts/new'>View all contacts</a></h3>
<h3><a href='/contacts/new'>Add a new contact</a></h3>
