@{
  Layout="Shared/_Layout.cshtml";
}
<div class="jumbotron">
  <div class="container">
    <h1>Address Book</h1>
  </div>
</div>
<h1>Contact List</h1>

<h3><a href='/contact/new'>Add a new contact</a></h3>
