@* <form action="/cds_added" method="post">
  <h2>Use the form below to add a new cd</h2>
  <label for="title">Cd Title</label>
  <input id="title" name="title" type="text">
  <label for="artist">Artist</label>
  <input id="artist" name="artist" type="text">
  <button type="submit">Submit</button>
</form> *@

<h1>CD Collection</h1>
<h3><a href='/genres'>View all genres</a></h3>
<h3><a href='/genres/new'>Add a new genre</a></h3>
