@{
  Layout="Shared/_Layout.cshtml";
}

<div class="jumbotron">
  <div class="container">
    <h1>Address Book</h1>
  </div>
</div>

<div class="container">
  <h1>Contact List</h1>

  @if(@Model.Count == 0)
  {
    <p class="warning">No contacts have been added! Click link below to add new contacts.</p>
  }

  @if(@Model.Count != 0)
  {
    <ul>
      @foreach (var contact in @Model)
      {
        <li><a href="/contact/@contact.GetId()">@contact.GetName()</a></li>
      }
    </ul>
  }

  <h3><a href="/contact/new">Add a new contact</a></h3>

  <form action="/contact/cleared" method="post">
      <button id="clearAll" type="submit" name="button">Clear All Contacts</button>
  </form>
</div>
