<form action='/search/artist' method='post'>
  <label for='search_artist'>Name of Artist</label>
  <input id='search_artist' name='search_artist' type='text'>
  <button type='submit'>Search</button>
</form>
