<h1>CD Collection</h1>
<ul>
  @foreach(var cd in Model)
  {
    <li>@cd.GetTitle(), @cd.GetArtist()</li>
  }
</ul>
<p><a href="/">Add another cd</a></p>

<form action="/cds_cleared" method="post">
  <button type="submit" name="button">Clear All CDs</button>
</form>
